.form-bordered {
  padding: 1.5rem;
  margin: 1.5rem -15px;
  position: relative;
  border: solid $form-border-color;
  border-width: .2rem 0;
}

.form-invalid-feedback {
  color: $form-invalid-color;
}

ul, .form-input-error-list {
  margin-top: 0.25rem;
  list-style-type: none;
  padding: 0;
}

@media (min-width: 768px) {
  .form-bordered {
    padding: 1.5rem;
    border-width: .2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
