.form-bordered {
  margin: 0;
  position: relative;
}

.form-invalid-feedback {
  color: $form-invalid-color;
}

ul, .form-input-error-list {
  margin-top: 0.25rem;
  list-style-type: none;
  padding: 0;
}

@media (min-width: 768px) {
  .form-bordered {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
