.notification-container {
  position: fixed;
  top: $header-height;
  right: 0;
  width: $menu-open-width;
  max-height: calc((100% - #{$header-height}));
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 15px;
  z-index: 1000;
}

.notification-message {
  opacity: 0.8;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0 0 12px #999;
  line-height: 1.2em;
  position: relative;
  margin-top: 15px;

  &:hover {
    opacity: 1;
  }

  .fa {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -14px;
    display: block;
    width: 28px;
    height: 28px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
  }
}

.notification-warning {
  background-color: #e9820b;
}

.notification-success {
  background-color: #51a351;
}

.notification-error {
  background-color: #a32e35;
}

.notification-info {
  background-color: #266ba3;
}

.notification-animation-enter {
  opacity: 0.01;
  transform: translateX(200%);
}

.notification-animation-enter.notification-animation-enter-active {
  opacity: 0.8;
  transform: translateX(0);
  transition: all 600ms ease-in-out;
}

.notification-animation-exit {
  //opacity: 1;
  transform: translateX(0);
}

.notification-animation-exit.notification-animation-exit-active {
  opacity: 0.01;
  transform: translateX(200%);
  transition: all 600ms ease-in-out;
}
