.nav-tooltip-overlay {
  &-hidden {
    display: none;
  }
  transform: translateX(-4px);
  .rc-tooltip-inner {
    border-radius: 4px;
    span {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
  .rc-tooltip-arrow {
  }
}

@media (max-width: 767px) {
  .nav-tooltip-overlay {
    display: none;
  }
}
