.nav-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 320px;
  border-right: 1px solid #e6eaea;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
  background: #f4f7f6;

  .navbar-nav {
    margin: 0;

    .nav-item {
      border-bottom: 1px solid #e6eaea;

      a {
        color: #000;
        width: 100%;
        height: 100%;
        padding: 18px 20px;
        font-weight: bold;
        font-size: 1.075em;
        transition: background 0.5s ease-in-out;
        white-space: nowrap;
        overflow: hidden;

        &.active {
          color: $accent-color;
        }

        &:hover {
          background: white;
        }

        .fa {
          margin-right: 12px;
          vertical-align: middle;
          height: 20px;
        }

        .nav-link-text {
          text-overflow: clip;
        }
      }
    }
  }

  &-collapsed {
    width: 73px;

    .nav-link-text {
      display: none;
      vertical-align: middle;
    }

    .navbar-nav .nav-item a .fa {
      margin-right: 0;
      vertical-align: middle;
      height: 20px;
    }
  }
}



@media (max-width: 767px) {
  .nav-main {
    &-collapsed {
      transform: translateX(-320px);
    }
  }
}

@media (min-width: 768px) {
  .content-main {
    transform: translateX(73px);
  }
}
