.nav-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: $menu-open-width;
  border-right: $border-default-width solid $border-default-color;
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
  background: $menu-background-color;

  .navbar-nav {
    margin: 0;

    .nav-item {
      border-bottom: $border-default-width solid $border-default-color;

      a {
        color: $text-default-color;
        width: 100%;
        height: 100%;
        padding: 18px 20px;
        font-weight: bold;
        font-size: 1.075em;
        transition: background 0.5s ease-in-out;
        white-space: nowrap;
        overflow: hidden;

        &.active {
          color: $menu-active-color;
        }

        &:hover {
          background: $menu-hover-background-color;
        }

        .fa {
          margin-right: 12px;
          vertical-align: middle;
          height: 20px;
        }

        .nav-link-text {
          text-overflow: clip;
        }
      }
    }
  }

  &-collapsed {
    width: $toggler-closed-width;

    .nav-link-text {
      display: none;
      vertical-align: middle;
    }

    .navbar-nav .nav-item a .fa {
      margin-right: 0;
      vertical-align: middle;
      height: 20px;
    }
  }
}

@media (max-width: $device-small-width) {
  .nav-main {
    &-collapsed {
      transform: translateX(-$menu-open-width);
    }
  }
}
