$primary-color: #343a40;
$accent-color: #702579;

$nav-active-color: $accent-color;
$nav-text-color: white;
$nav-background-color: $primary-color;

$body-text-color: #262828;

$form-border-color: #f7f7f9;
$form-invalid-color: #dc3545;
