@import './navMenu';

$color: #262828;

body {
  color: $color;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }
}

@media (min-width: 768px) {
  .col-max-250 {
    max-width: 250px;
  }
}
