$color: #262828;
$nav-background-color: #4189C7;
$nav-color: white;

body {
  color: $color;
}

/* Highlighting rules for nav menu items */
/* Keep the nav menu independent of scrolling and on top of other items */
/* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
/* On small screens, convert the nav menu to a vertical sidebar */
.main-nav {
  li {
    .glyphicon {
      margin-right: 10px;
    }
    a.active {
      background-color: $nav-background-color;
      color: $nav-color;
      &:hover {
        background-color: $nav-background-color;
        color: $nav-color;
      }
      &:focus {
        background-color: $nav-background-color;
        color: $nav-color;
      }
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}
@media (min-width: 768px) {
  .main-nav {
    height: 100%;
    width: calc(25% - 20px);
    .navbar {
      border-radius: 0;
      border-width: 0;
      height: 100%;
      ul {
        float: none;
      }
      li {
        float: none;
        font-size: 15px;
        margin: 6px;
        a {
          padding: 10px 16px;
          border-radius: 4px;
        }
      }
      a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .navbar-header {
      float: none;
    }
    .navbar-collapse {
      border-top: 1px solid #444;
      padding: 0;
    }
  }
}
